
@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');
html {
    font-size: 14px;
    font-family: 'Song Myung', serif;
}

.pre-container {
    z-index: 1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
}
.hidden{
    display: none;
}
.headcopy {
    font-size: 2rem;
    color:#ff2c5a;
    font-weight: 900;
    padding-bottom: 30px;
}
.first-open {
    font-family: 'Song Myung', serif;
    font-size: 1.3rem;
    font-weight: 700;
    width: 120px;
    height: 120px;
    padding: 22px;
    border: #ff2c5a 3px solid ;
    border-radius: 50%;
    color: #ff2c5a;
}
.first-open:hover {
    color: #ff2c5a;
    transform: scale(1.2);
    background: #000;
    transition: 2s;
}


/*시 관련된 css */

.judge-field {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    display: flex;
    transform-origin: 50% 50%;
}
.left-field {
    top:0;
    left: 50vw;;
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: cornsilk 3px dotted; */
}
.right-field {
    display: flex;
    top:0;
    left: 50vw;;
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: cornsilk 3px dotted; */
}
.right-balance {
    top : -10vh;
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    width: 50vw;
    height: 70vh;
    border-bottom: 3px #ff2c5a solid;
    color: #ff2c5a;
    font-weight: 700;
    font-size: 1.5rem;
    transform-origin: bottom right;
    text-align: center;
    visibility: visible;
}
.left-balance {
    top : -10vh;
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    width: 50vw;
    height: 70vh;
    color: #ff2c5a;
    font-weight: 700;
    font-size: 1.5rem;
    border-bottom: 3px #ff2c5a solid;
    transform-origin: bottom left;
    text-align: center;
    visibility: visible;
}
.poem-title {
    text-align: center;
    width: auto;
    color: #ff2c5a;
    background: #000;
    border: #ff2c5a 2px solid;
}