body {background-color: black;}
.title {
    background-color: crimson;
    display: block;
    text-align: center;
    font-size: 3em;
    font-family: 'Hahmlet', serif;
}

.foem {
    background-color: crimson;
    display: block;
    text-align: center;
    font-family: 'Hahmlet', serif;
    font-size: 2em;
    margin-top: 17em;
}