@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');


@keyframes sample-ani {
    0%{
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, 1800px, 0);
    }
}

html {
    font-size: 14px;
    font-family: 'Song Myung', serif;
}
body {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    color: rgba(0, 255, 0, 1);
    font-size: 2rem;
    white-space: nowrap;
    overflow: hidden;
    text-decoration-thickness: 1rem;
    text-decoration: #ff2c5a;
}
.container p {
    padding: 0;
    margin-bottom: -0.8rem;
}
.animaiting {
    animation: sample-ani 4s 0.2s;
}