/* animation */
@keyframes ani-head {
    to {
        transform: rotateX(-10deg);
    }
}

@keyframes ani-running-leg {
    from {
        transform: rotateX(-30deg);
    }

    to {
        transform: rotateX(30deg);
    }
}

@keyframes ani-running-arm {
    from {
        transform: rotateY(30deg);
    }

    to {
        transform: rotateY(-30deg);
    }
}

body {
    height: 500vw;
    font-family: 'Apple SD Gothic Neo', 'Roboto', 'Noto Sans KR', NanumGothic, 'Malgun Gothic', sans-serif;
    -webkit-overflow-scrolling: touch;
    color: white;
    font-size: 1px;
    font-family: 'Hahmlet', serif;
    background: black;
    transition: background .5s;
}

body[data-char='ragirl'] {
    background: #ff7200;
}

/* world */
.world {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    perspective: 1000px;
}

.stage {
    position: absolute;
    /*이게 왜필요한거임?*/
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    transform-style: preserve-3d;
}

.house {
    transform-style: preserve-3d;
}

.wall {
    position:absolute;
    left: 0;
    top: 0;
    width: 103vw;
    height: 103vh;
}

.wall-left {
    width: 100vw;
    background: black;
    transform: rotateY(90deg) translate3D(-450vw,0,-50vw) scaleY(1);
}

.wall-right {
    width: 100vw;
    background: black;
    transform: rotateY(90deg) translate3D(-450vw, 0, 50vw) scaleY(1);
}

.wall-top {
    width: 100vw;
    height: 100vh;
    transform-origin: 50% 50%;
    background-color: yellow;
    background-image: url('images/wall-1.png');
    background-repeat: repeat;
    transform: rotateX(90deg) translate3D(0vw, 974vh, 50vh) scaleX(1);
}

.wall-bottom {
    width: 100vw;
    height: 100vh;
    transform-origin: 50% 50%;
    background-color: yellow ;
    background-image: url('images/wall-1.png');
    background-repeat: repeat;
    transform: rotateX(90deg) translate3D(0vw, 974vh, -50vh) scaleX(1);
}
.wall-frontend {
    width: 100vw;
    height: 100vh;
    transform: translate3D(0,0,451vw) scaleX(1);
    overflow: visible;
}

.wall-title {
    font-size: 10vh;
    font-weight: 900;
}
a:any-link {
    text-decoration: none;
    color: inherit
}

.wall-front-a {
    transform: translateZ(300vw);
}

.wall-front-b {
    transform: translateZ(50vw);
}

.wall-front-c {
    transform: translateZ(-200vw);
}

.wall-front-d {
    transform: translateZ(-500vw);
}

.wall-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.progress-bar-con {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100vw;
    height: 5px;
    background: #555;
}

.progress-bar {
    width: 0;
    height: 100%;
    background: white;
}
