
body {
    height: 500vw;
    font-family: 'Apple SD Gothic Neo', 'Roboto', 'Noto Sans KR', NanumGothic, 'Malgun Gothic', sans-serif;
    -webkit-overflow-scrolling: touch;
    color: white;
    font-size: 1px;
    font-family: 'Hahmlet', serif;
    background: black;
    transition: background .5s;
}
object {
    pointer-events: none;
}


/* world */
.world {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    perspective: 1000px;
}

.stage {
    position: absolute;
    /*이게 왜필요한거임?*/
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    transform-style: preserve-3d;
}

.house {

    transform: translateZ(-490vw);
    transform-style: preserve-3d;
}

.wall {
    position: absolute;
    left: 0;
    top: 0;
    width: 103vw;
    height: 103vh;
}

.wall-left {
    width: 1000vw;
    background: black;
    transform: rotateY(90deg) translate3D(0, -2vw, -499.9vw) scaleY(1.6);
}

.wall-right {
    width: 1000vw;
    background: black;
    transform: rotateY(90deg) translate3D(0, -2vw, -400.1vw) scaleY(1.6);
}

.wall-top {
    height: 1000vw;
    background: black;
    transform: rotateX(270deg) translate3D(-9.2vw, 0vh, -498vw) scaleX(1.12);
}

.wall-bottom {
    height: 1000vw;
    background: black;
    transform: rotateX(270deg) translate3D(-9.2vw, 0vh, -456vw) scaleX(1.12);
}

.wall-frontend {
    width: 100vw;
    height: 90vh;
    transform: translate3D(0, 2vh, 0) scaleX(1.28);
}

.wall-title {
    font-size: 10vh;
    font-weight: 900;
}

a:any-link {
    text-decoration: none;
    color: inherit
}

.wall-front-a {
    transform: translateZ(300vw);
    background: white;
    color: khaki;
}

.wall-front-b {
    transform: translateZ(50vw);
}

.wall-front-c {
    transform: translateZ(-200vw);
}

.wall-front-d {
    transform: translateZ(-499.8vw);
    background: black;
}

.wall-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.progress-bar-con {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100vw;
    height: 5px;
    background: #555;
}

.progress-bar {
    width: 0;
    height: 100%;
    background: white;
}
